@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

/* Estilo geral da página de escolha de pagamento */
.payment-choice-page {
  padding: 2rem;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

/* Animação suave ao carregar */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Header estilizado */
.payment-header {
  font-family: 'Just Another Hand', cursive;
  font-size: 48px;
  color: #EE1F79;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Lista de cartões disponíveis */
.card-list {
  list-style: none;
  padding: 0;
}

.card-item {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efeito hover no item do cartão */
.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-item h4 {
  font-size: 20px;
  color: #EE1F79;
}

.card-item p {
  font-size: 16px;
  color: #8a8a8a;
}

.selected-card {
  border: 2px solid #EE1F79;
}

.payment-button {
  --background: #EE1F79;
  font-family: 'Just Another Hand', cursive;
  padding: -1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
}

.payment-button:hover {
  background-color: #d81a68;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.payment-button:active {
  background-color: #b71657;
}

/* Mensagem de erro ou sucesso */
.error-message {
  color: #EE1F79;
  font-size: 16px;
  margin-bottom: 1rem;
}

.toast-message {
  font-size: 18px;
  color: #EE1F79;
  margin-top: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .payment-choice-page {
    padding: 1rem;
  }

  .card-item {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .payment-button {
    margin-top: 1rem;
  }
}
