@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.register-page {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 400px;
  margin: auto;
}

.register-logo {
  width: 100px;
  margin-bottom: 20px;
}

.register-title {
  color: #EE1F79;
  font-family: 'Just Another Hand', cursive;
  font-size: 36px;
  margin-bottom: 1rem;
}

.register-container {
  display: flex;
  flex-direction: column;
}

.senha-ion-input-custom {
  --background: #f0f0f5;
  --placeholder-color: #8a8a8a;
  --color: #333333;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.confirm {
  --background: #EE1F79;
  --color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  height: 55px;
}

.confirm:hover {
  --background: #d81a68;
}

.confirm:active {
  --background: #b71657;
}

.return-to-login {
  text-align: left;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .register-page {
    padding: 2.5rem;
    border-radius: 20px;
  }

  .senha-ion-input-custom {
    font-size: 1.125rem;
  }

  .confirm {
    font-size: 1.125rem;
    padding: 1rem;
  }
}
