@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.ticket-page {
  max-width: 500px;
  margin: auto;
}

.ticket-header {
  font-family: 'Just Another Hand', cursive;
  font-size: 36px;
  color: #EE1F79;
  text-align: center;
  margin-bottom: 1rem;
}

.ticket-item {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #333333;
}

.ticket-item h4 {
  font-size: 20px;
  color: #EE1F79;
}


