.ticket-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .ticket-header {
    font-family: 'Just Another Hand', cursive;
    font-size: 48px;
    color: #EE1F79;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ticket-card {
    background-color: #EE1F79;
    color: white;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    text-align: left;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  
  .ticket-card:before, .ticket-card:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
  }
  
  .ticket-card:before {
    left: -15px;
  }
  
  .ticket-card:after {
    right: -15px;
  }
  
  .ticket-date {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ticket-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .ticket-location {
    text-align: left;
  }
  
  .ticket-location h3, .ticket-location span {
    margin: 5px 0;
  }
  
  .ticket-passenger {
    text-align: center;
    margin: 10px 0;
  }
  
  .ticket-passenger span {
    font-weight: bold;
  }
  
  .ticket-gate-seat {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .ticket-gate-seat div {
    width: 50%;
    text-align: center;
  }
  
  .ticket-barcode {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ticket-barcode svg {
    width: 95%;     
    max-width: 270px; 
    height: 100px;    
  }
  